.cta a:hover, .cta-comprar:hover, .bicicleta-produto a:hover{
  background:#5603c2;
  transition: 0.2s;  
}

.transition{
  transition: 0.2s;
}

.reveal{
  position: relative;
  opacity: 0;
}
.reveal.active{
  opacity: 1;
}
.active.revealLeft{
  animation: fadeLeft 1s ease-out;
}
.active.revealRight{
  animation: fadeRight 1s ease-out;
}
.active.revealTop{
  animation: fadeTop 1s ease-out;
}
.active.revealBottom{
  animation: fadeBottom 1s ease-out;
}


@keyframes fadeLeft{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeTop{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeBottom{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeLeft{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

