.menu-back{
  position: fixed;
  bottom:7%;
  left:1%;
  z-index: 99999;
  background-color:#9c50ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-back img{
  width: 50px;
  padding:5px;
  margin:0 auto;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1341%) hue-rotate(331deg) brightness(101%) contrast(110%);
}


.menu-back:hover{
  background-color:#6500e9;
  transition: 0.2s;
}

.cta a:hover, .cta-comprar:hover, .bicicleta-produto a:hover{
  background:#5603c2;
  transition: 0.2s;  
}

.transition{
  transition: 0.2s;
}

.show-answer{
  display: block !important;
  opacity: 1;
  animation: showAnswer 0.3s ease-in-out ;
}

.rotate{
  transform: rotate(-180deg);
  transition: 0.3s;
}

.reveal{
  position: relative;
  opacity: 0;
}
.reveal.active{
  opacity: 1;
}
.active.revealLeft{
  animation: fadeLeft 1s ease-out;
}
.active.revealRight{
  animation: fadeRight 1s ease-out;
}
.active.revealTop{
  animation: fadeTop 1s ease-out;
}
.active.revealBottom{
  animation: fadeBottom 1s ease-out;
}


@keyframes showAnswer{
  0%{
    transform: translateY(-10px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeLeft{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeTop{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeBottom{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeLeft{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width:520px){
  .menu-back{
    bottom:1%;
    left:50%;
    transform: translateX(-50%);
  }
}