*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}


@font-face {
  font-family: "poppins-blackIT";
  src: url(../fonts/Poppins-BlackItalic.ttf);
}

@font-face {
  font-family: "poppins-black";
  src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poppins-semibold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-medium";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "poppins-regular";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "dancingScript";
  src: url(../fonts/DancingScript.ttf);
}


@font-face {
  font-family: "poppins-light";
  src: url(../fonts/Poppins-Light.ttf);
}

.center{
  width: 80%;
  margin:0 auto;
}

img{
  max-width: 100%;
}

