@import './global.css';
@import './inicio.css';

/*****P-COLORS******/

.color-p1{
  color: #1C003F;
}

.color-p2{
  color: #30026B;
}

.color-p3{
  color: #430296;
}

.color-p4{
  color: #5A01CB;
}

.color-p5{
  color: #7000FE;
}

.color-p6{
  color: #8525FF;
}

.color-p7{
  color: #9C4EFF;
}

.color-p8{
  color: #B174FF;
}

.color-p9{
  color: #D7B7FF;
}

.color-p10{
  color: #ECDEFD;
}

/*****S-COLORS******/

.color-s1{
  color: #000000;
}

.color-s2{
  color: #151515;
}

.color-s3{
  color: #222222;
}

.color-s4{
  color: #2C2C2C;
}

.color-s5{
  color: #3C3C3C;
}

.color-s6{
  color: #4A4949;
}

.color-s7{
  color: #666666;
}

.color-s8{
  color: #888888;
}

.color-s9{
  color: #A6A6A6;
}

.color-s10{
  color: #CDCDCD;
}

.color-s11{
  color: #E9E9E9;
}

.color-s12{
  color: #ffffff;
}

/*********** Destaque ************/

.strong-colored{
  color:#b681fc;
}