.apresentation{
  width: 100%;
  position: relative;
  background:black;
  box-shadow: inset 0 -100px 0 white;
}

.apresentation-text, .cta{
  animation: fadeRight 2"s ease-out;
}


.apresentation-box{
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 125px;
  padding:125px 0 55px 0;
}

.apresentation-info{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom:155px;
  gap: 45px;
}


.apresentation-text h2{
  font-size: 2.3rem;
  font-family: "poppins-bold";
  margin-bottom:15px;
}

.apresentation-text p{
  max-width: 35ch;
}

.apresentation-text{
  font-size: 1rem;
  font-family: "poppins-medium";
}


.apresentation-img, .apresentation-img img{
  min-height: 550px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.apresentation-img img{
  box-shadow: 0px 33px 24px -22px rgba(93,93,93,0.61);
}


@media  (max-width:1200px){

.apresentation-text h2{
  font-size:1.8rem;
}

.apresentation-text{
  font-size:0.9rem;
}

}


@media  (max-width:950px){
.apresentation-box{
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  gap: 35px;
}

.apresentation-info{
  padding-bottom: 5px;
  gap: 25px;
}

.apresentation-img, .apresentation-img img{
  box-shadow: none;
}

.apresentation-text p{
  max-width: 100%;
}

}

@media  (max-width:425px){
  .apresentation-text{
    font-size:0.7rem;
  }

  .apresentation-text h2{
    font-size:1.5rem;
  }
}

@media  (max-width:425px){
  .apresentation-text{
    font-size:0.7rem;
  }

  .apresentation-text h2{
    font-size:1.1rem;
  }
}

/************* nossas-bicicletas *******************/


.nossas-bicicletas{
  padding:125px 0 175px 0;
}


.nossas-bicicletas-produtos{
  margin-top:105px;
  font-family: "poppins-medium";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 55px;
}


.titulo-produto h2{
  font-size:1.3rem;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom:2px;
}

.produto{
  transition: 0.4s;
  cursor: pointer;
}

.produto:hover .titulo-produto h2::before {
  width: 20px;
  transition: 0.4s;
}



.preço-produto{
  font-size:0.9rem; 
}

.titulo-produto h2::before{
  content:"";
  width: 5px;
  height: 15px;
  background:#B174FF;
  margin-right:5px;
  transition: 0.4s;
}

.nossas-bicicletas .cta{
  margin:75px auto 0 auto;
  text-align: center;
}

@media (max-width:1180px) {
  .titulo-produto h2{
    font-size:1.1rem;
  }

  .preço-produto{
    font-size:0.8rem; 
  }
}

@media (max-width:1100px) {
  .nossas-bicicletas-produtos{
    gap: 35px;
  } 
}

@media (max-width:950px) {
  .nossas-bicicletas-produtos{
    grid-template-columns: 1fr;
    gap: 45px;
    margin-top: 65px;
  } 
}

@media (max-width:740px) {
  .nossas-bicicletas h2{
    font-size: 2rem;
  } 
}

@media (max-width: 440px){
  .nossas-bicicletas h2 {
    font-size: 1.3rem;
  }
}


@media (max-width: 343px){

  .nossas-bicicletas .cta a{
    font-size: 0.9rem;
  }

}


/**********Personalização*************/

.personalização{
  position: relative;
  background-color: #222222;
  padding:0 0 45px 0;
  z-index: 1;
}

.personalização .center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  min-height: 750px;
}

.personalização-info{
  position: relative;
  place-self: center start;
}

.personalização-info a{
  padding: 17px 15px 17px 15px;
  background-color:#46009c;
  border-radius: 5px;
  text-decoration: none;
}

.personalização-info a:hover{
  background-color:#5603c2;
}

.personalização-img::before{
  content: "";
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:0;
  width: 4.5px;
  height: 90%;
  background-color:#b681fc;
}

.personalização-info p{
  font-size: 1.5rem;
  font-family: "poppins-light";
  margin:55px 0 110px 0;
  max-width: 37ch;
}

.personalização-info h2{
  max-width: 13ch;
  font-size: 4rem;
  font-family: "poppins-semibold";
}

.personalização-img{
  height: 110%;
  border-radius: 5px;
}

.personalização-info a{
  font-family: "poppins-bold";
}

.personalização-img img{
  height: 100%;
  object-fit: cover;
  margin-top:3%;
  border-radius: 5px;
}


@media (max-width:1700px){
  .personalização-info h2{
    font-size: 2.7rem;
  }

  .personalização-info p{
    font-size: 1.2rem;
  }
  
}

@media (max-width:1340px){
  .personalização-info h2{
    font-size: 2.4rem;
  }

  .personalização-info p{
    font-size: 1rem;
  }
  
  
}


@media (max-width:1140px){
  .personalização-img{
    display: none;
  }

  .personalização{
    position: relative;
    background-image: url(/images/ferramentas-bg.jpg);
    background-size: cover;
    background-position: center;
  }

  .personalização:before{
    content: "";
    position: absolute;
    top:0%;
    transform: translate(-50%, -50%);
    left:50%;
    width: 90%;
    height: 4.5px;
    background-color:#b681fc;
    z-index: 2;
  }

  .personalização .center{
    grid-template-columns:1fr;
  }

  .personalização-info h2 {
    max-width: 15ch;
    font-size: 3rem;
}

  .personalização-info p {
  max-width: 40ch;
  font-size: 1.5rem;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
}
  
}


@media (max-width:760px){
  .personalização-info h2 {
    font-size: 2.4rem;
}

.personalização-info p {
  font-size: 1.2rem;
}

}

@media (max-width:520px){
  .personalização-info h2 {
    font-size: 1.5rem;
}

.personalização-info p {
  font-size: 0.9rem;
}

.personalização .center{
  min-height: 550px;
}

}

@media (max-width:341px){
.personalização-info h2 {
  font-size: 1.3rem;
}

.personalização-info p {
  font-size: 0.9rem;
}

}

/***********Parceiros****************/

.parceiros{
  padding: 155px 0 155px 0;
}


.parceiros ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li img{
  width: inherit;
  margin: auto;
}

.parceiros li{
  padding: 25px;
  display: flex;
  border-right: 2px solid rgb(209, 209, 209);
  border-bottom: 2px solid rgb(209, 209, 209);

}

.parceiros li:nth-child(n + 5){
  border-bottom: none;
  border-left: none;
}

.parceiros li:last-child, .parceiros li:nth-child(4){
  border-right: none;
}

@media (max-width:750px){
  .parceiros h2{
    font-size: 2rem;
  }

  .parceiros ul{
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li:nth-child(even){
    border-right: none;
  }

  .parceiros li:nth-child(n + 5){
    border-bottom: 2px solid rgb(209, 209, 209);
  }

  .parceiros li:last-child, .parceiros li:nth-child(7){
    border-bottom: none;
  }
}

@media (max-width:445px){


  .parceiros h2{
    font-size:1.4rem;
  }
}

/***********Seguros****************/

.seguro{
  position: relative;
  background-color: #000000;
  padding:155px 0 325px 0;
}

.seguros-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  font-family: "poppins-light";
  z-index: 4;
}

.seguro-conteudo{
  width: 100%;
  position: relative;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding:35px 55px 35px 55px;
  background-color: #141414;
  font-size: 1.4rem;
  border-radius: 5px;
}

.seguro-conteudo::after{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 4.5px;
  height: 100%;
  background-color: #9C4EFF;
}

.luxo{
  font-size: 1.6rem;
  max-width: 100%;
}

.seguroBox-header{
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: end;
  justify-content: space-between;

}


.seguroBox-header p{
  margin-bottom: 2%;
}

.essencial .seguroBox-header{
  font-size: 1.4rem;
}

.luxo .seguroBox-header{
  font-size: 2.3rem;
}

.seguroBox-header{
  font-family: "poppins-semibold";
}

.luxo .seguroBox-header h2{
  font-family: "poppins-black";
}



.seguroBox-vantagens li{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  margin:30px 0 0 0;
  font-family: "poppins-regular";
}

.seguroBox-vantagens li::before{
  content: "";
  width: 30px;
  height: 15px;
  background-image: url(../images/check-all.svg);
  background-size: cover;
  background-position: center;
  
}

.seguroBox-vantagens p{
  margin-left:10px;
}


.seguro ul{
  list-style-type: none;
}


.inscreva-se{
  display: inline-block;
  margin-top:55px;
  transition: 0.5s;
}

.inscreva-se:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.essencial .inscreva-se a{
  padding: 17px 15px 17px 15px;
  background-color:#3a3a3a;
  text-decoration: none;
  border-radius: 5px;
}

.luxo .inscreva-se a{
  padding: 17px 15px 17px 15px;
  background:#9C4EFF;
  text-decoration: none;
  border-radius: 5px;
}

.seguroBox-vantagens img{
  filter: brightness(0) saturate(100%) invert(34%) sepia(60%) saturate(2729%) hue-rotate(246deg) brightness(99%) contrast(105%);
}


@media (max-width:1550px){
  .essencial .seguroBox-header{
    font-size: 1.1rem;
  }

  .luxo .seguroBox-header{
    font-size:1.9rem;
  }

  .seguro-conteudo{
    font-size: 1.2rem;
  }
}

@media (max-width:1292px){
  .essencial .seguroBox-header{
    font-size: 1.2rem;
  }

  .luxo .seguroBox-header{
    font-size:1.6rem;
  }

  .luxo{
    font-size:1.6rem;
  }

  .seguro-conteudo{
    font-size: 1rem;
  }
}


@media (max-width:1150px){

  .seguro{
    padding: 155px 0 155px 0;
  }

  .seguro::after {
    bottom: 5%;
  }

  .seguros-box{
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .luxo, .essencial{
    max-width: 100%;
  }

  .seguro-conteudo{
    font-size: 1.1rem;
  }
}


@media (max-width:750px){
  .seguro h2{
    font-size:2rem;
  }
}

@media (max-width:500px){
  .seguro h2{
    font-size:1.7rem;
  }

    .seguro-conteudo{
    padding: 35px 35px 35px 35px;
  }
}

@media (max-width:445px){
  .seguroBox-header{
    flex-direction: column;
    align-items: start;
  }

  .seguro-conteudo{
    font-size: 0.8rem;
  }

  .seguro h2{
    font-size:1.3rem;
  }
}

@media (max-width:340px){
  .inscreva-se a{
    font-size: 0.8rem;
  }

  .seguro h2{
    font-size:1.2rem;
  }

  .essencial .seguroBox-header{
    font-size: 0.8rem;
  }

  .luxo .seguroBox-header{
    font-size:1.1rem;
  }

}


@media (max-width:291px){
  .inscreva-se a{
    font-size: 0.7rem;
  }

  .seguro h2{
    font-size:1.1rem;
  }
}


/**************Depoimentos**************/

.depoimentos{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 85px;
  min-height: 550px;
  background-color: #430296;
}

.depoimento-texto{
  padding:85px 25px 85px 0;
}

.depoimento-texto p{
  max-width: 23ch;
  font-size:3rem;
  font-family: "dancingScript";
}

.depoimento-texto h3{
  font-size:1em;
  margin-top:55px;
  font-family: "poppins-semibold";
}

.bike{
  position: absolute;
  bottom:0;
  right:1%;
}



.depoimento-foto{
  height: 100%;
}

.depoimento-foto img{
  height: 100%;
  object-fit: cover;
}

.bike img{
  width: 50px;
  height: auto;
  transform: rotateY(180deg);
  filter: brightness(0) saturate(100%) invert(15%) sepia(96%) saturate(7450%) hue-rotate(270deg) brightness(49%) contrast(109%);
}

@media (max-width:1714px){
  .depoimento-texto p{
    font-size: 2.5rem;
  }
}

@media (max-width:1314px){
  .depoimento-texto p{
    font-size: 2rem;
  }

  .depoimentos{
    gap: 65px;
  }
}


@media (max-width:1080px){
  .depoimento-texto p{
    font-size: 1.7rem;
  }

}

@media (max-width:860px){
  .depoimento-texto p{
    font-size: 1.4rem;
  }

  .depoimentos{
    gap: 55px;
  }
}

@media (max-width:715px){
  .depoimentos{
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .bike{
    width: 60px;
  }

  .bike::before {
    width: 60px;
    left: -13%;
}

  .depoimento-texto{
    padding: 45px 35px 45px 35px;
  }

  .depoimento-texto p{
    font-size: 1.6rem;
    max-width: 35ch;
    text-align: center;
  }

}

@media (max-width:465px){
  .depoimento-texto p{
    font-size: 1.4rem;
  }
}

@media (max-width:425px){
  .bike {
    display: none;
  }
}

@media (max-width:385px){
  .depoimento-texto p{
    font-size: 1.2rem;
  }

  .depoimento-texto h3{
    font-size: 1rem;
  }
}