.nimbus{
  padding:100px 0 100px 0;
  width: 100%;
  background-color: black;
}

.nimbus .center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color:white;
  margin:0 auto;
  align-items:start;
  gap: 40px;
}

.produto-img-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.produto-img{
  position: relative;
}

.produto-img img{
  object-fit: cover;
  border-radius: 5px;
}

.produto-img::before{
  padding:10px 15px 10px 15px;
  text-align: center;
  background-color:#7000FE;
  position: absolute;
  top:0;
  left:0;
  color:white;
  font-size:1.4rem;
  font-family: "poppins-medium";
  border-radius: 0px 0px 5px 0px;
  height: auto;
}

.n-1000 .produto-img::before{
  content:"R$ 999, 90";
}

.n-2000 .produto-img::before{
  content:"R$ 1399, 90";
}

.n-3000 .produto-img::before{
  content:"R$ 1745, 90";
}



.produto-img-slide{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
}



.currentSlide{
  border:2px solid #7000FE !important;
  border-radius: 5px;
}

.produto-img-slide img{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.produto-img-slide img:last-child{
  border-right:none;
}

.produto-img-slide img:first-child{
  border-left:none;
}


.nimbus-titulo{
  font-family: "poppins-bold";
  font-size:1.7rem;
  margin-bottom:10px;
}

.produto-vantagens{
  display: grid;
  width: 100%;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  margin-top:80px;
  background-color:#0E0E0E;
  padding: 35px 35px 35px 35px;
  border-radius: 5px;
}

.vantagem-nimbus:nth-child(1), .vantagem-nimbus:nth-child(2){
  border-bottom: 2px solid #4b4b4b;
  padding-bottom:25px;
}

.vantagem-nimbus h3{
  font-family: "poppins-bold";
  font-size:1.2rem;
  margin-bottom:5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}


.vantagem-nimbus h3::before{
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  background-size:cover;
  background-position: center;
  margin-right:15px;
  background-image: url("../images/bicycle-white.svg");
}


.vantagem-nimbus{
  font-family: "poppins-medium";
  font-size:0.85rem;
  max-width: 27ch;
}

.comprar{
  margin-top:35px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.cta-comprar a{
  display: inline-block;
  padding: 17px 15px 17px 15px;
  background: #7000FE;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 5px;
  font-family: "poppins-bold";
}

.cta-comprar a:hover{
  background: #5603c2;
}


.formas-pagamento{
  font-family: "poppins-bold";
  font-size:0.7rem;
}

.formas-pagamento p{
  margin:8px 0 8px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.formas-pagamento p::before{
  content:"";
  width: 13px;
  height: 13px;
  background-size:cover;
  background-position: center;
  margin-right:10px;
}

.formas-pagamento .credito::before{
  background-image: url(../images/credit-card-fill.svg);
}

.formas-pagamento .entrega::before{
  background-image: url(../images/truck-front-fill.svg);
}

.ficha-tecnica{
  width: 100%;
  max-width: 450px;
  background-color:#0E0E0E;
  padding:25px;
  border-radius: 5px;
  margin-top:45px;
}

.titulo-ficha{
  font-family: "poppins-regular";
  font-size:1rem;
  margin-bottom:15px;
}


.ficha-conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "poppins-light";
  font-size:0.8rem;
}

.ficha-conteudo p{
  margin:5px 0 5px 0;
}

.opção:hover .titulo-produto h2::before {
  width: 20px;
  transition: 0.4s;
}


@media (max-width:1360px){
  .produto-img::before{
    font-size:1rem;
  }
}

@media (max-width:1255px){
  .vantagem-nimbus{
    font-family: "poppins-medium";
    max-width: 35ch;
  }

  .produto-vantagens{
    max-width: 100%;
  }


  .cta-comprar a{
    font-size: 1.05rem;
  }

  .nimbus .center{
    grid-template-columns: 1fr;
    gap: 60px;
  }
}


@media (max-width:1025px){
  .produto-vantagens{
    margin-top: 25px;
  }

  .vantagem-nimbus{
    font-family: "poppins-medium";
    font-size:0.65rem;
    max-width: 45ch;
  }

  .vantagem-nimbus{
    border-bottom: 2px solid #4b4b4b;
    padding-bottom:25px;
  }

  .maisOpções-box {
    flex-direction: column;
  }
}


@media (max-width:600px){

  .produto-vantagens{
    grid-template-columns:1fr;
  }

  .vantagem-nimbus{
    max-width: none;
  }

  .produto-img::before{
    font-size:0.8rem;
  }



}

@media (max-width:500px){
  .comprar{
    flex-direction: column;
    align-items: start;
    justify-self: center;
  }

  .ficha-conteudo{
    grid-template-columns: 1fr;
  }

  .mais-opções .titulo2{
    font-size:1.7rem;
  }
}

@media (max-width:410px){

  .nimbus-titulo{
    font-family: "poppins-bold";
    font-size:1.4rem;
  }

  .produto-img::before{
    font-size:0.6rem;
  }


}

@media (max-width:350px){

  .nimbus-titulo{
    font-family: "poppins-bold";
    font-size:1.1rem;
  }

  .vantagem-nimbus h3{
    font-size:1rem;
  }

  .mais-opções .titulo2{
    font-size:1.2rem;
  }

}

.mais-opções{
  background:#ffff;
  padding:100px 0 100px 0;
}

.maisOpções-box{
  font-family: "poppins-medium";
  display: flex;
  gap: 55px;
}

.opção-img img{
  object-fit: cover;
  height: 100%;
}

