.termos-titulo{
  width: 100%;
  background-color:#3C3C3C;
}

.termos-titulo .center{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 65px 0 65px 0;
}

.termos-titulo .titulo{
  margin-bottom:0;
}

.termos-conteudo{
  padding: 85px 0 165px 0;
}

.termos-conteudo p{
  font-size:1.1rem;
  max-width: 75ch;
  font-family: "poppins-regular";
}

.termos-conteudo h2{
  font-size:1.7rem;
  font-family: "poppins-semibold";
}


.conta-usuario{
  margin:75px 0 75px 0;
}

.estorno p,h2{
  margin:30px 0 30px 0;
}

@media (max-width:940px){
  .termos-header{
    padding: 25px 0 0 0;
  }
}

@media (max-width:668px){
  .termos-titulo h2{
    font-size:2.2rem;
  }
}

@media (max-width:505px){
  .termos-titulo h2{
    font-size:1.8rem;
  }
}

@media (max-width:497px){
  .termos-conteudo p{
    font-size:0.8rem;
  }
}

@media (max-width:400px){
  .termos-titulo h2{
    font-size:1.6rem;
  }

  .termos-conteudo p{
    font-size:0.8rem;
  }

  .termos-titulo .center {
    padding: 35px 0 35px 0;
  }

  .termos-conteudo {
    padding: 55px 0 125px 0;
}

}

@media (max-width:338px){
  .termos-titulo h2{
    font-size:1.3rem;
  }

  .termos-conteudo p{
    font-size:0.7rem;
  }

  .termos-conteudo h2{
    font-size: 1.5rem;
  }
}

@media (max-width:285px){
  .termos-titulo h2{
    font-size:1.2rem;
  }
}