

.termos-conteudo{
  padding: 85px 0 165px 0;
}

.termos-conteudo p{
  font-size:1.1rem;
  max-width: 75ch;
  font-family: "poppins-regular";
}

.termos-conteudo h2{
  font-size:1.7rem;
  font-family: "poppins-semibold";
}


.conta-usuario{
  margin:75px 0 75px 0;
}

.termos-conteudo p, .termos-conteudo h2{
  margin:30px 0 30px 0;
}

@media (max-width:940px){
  .termos-header{
    padding: 25px 0 0 0;
  }
}

@media (max-width:668px){
  #termos .titulo-box .titulo{
    font-size:1.4rem;
  }
}

@media (max-width:505px){
  #termos .titulo-box .titulo{
    font-size:1.3rem;
  }
}

@media (max-width:497px){
  .termos-conteudo p{
    font-size:0.8rem;
  }
}


@media (max-width:422px){
  #termos .titulo-box .titulo{
    font-size:0.9rem;
  }

  .termos-conteudo p{
    font-size:0.7rem;
  }

  .termos-conteudo h2{
    font-size: 1.3rem;
  }

  
}





@media (max-width:300px){
  #termos .titulo-box .titulo{
    font-size:0.8rem;
  }
}